<%= javascript_include_tag "chart_radar" %>
<%= javascript_include_tag "chart_dark_theme" %>
<%= javascript_include_tag "customskillchart" %>
<%= javascript_include_tag "mychart" %>

<div class="row">
	<!-- Title Div -->
	<div class="small-12 large-2 columns" style="padding-top: 80px; margin-top: 300px;">
		<div style="transform: rotate(-90deg); display: inline-block;; font-size: 16px; margin-bottom: 50px;">
			&larr; My Skills
		</div>
		<h1>
			About<br>
			<span style="color:#086F9C;margin-top: -25px;margin-left: -3px;display: inherit;">Me</span>
		</h1>
	</div>

	<!-- Story Div -->
	<div class="small-12 large-6" style="padding-top: 50px; padding-right: 45px">
		<br><h5>
			<b>Hello! I am Nick Schumacher, Partner Certified Salesforce Consultant and Developer based
			in Indianapolis.</b>
		</h5><br>

		I graduated from Purdue University with a Bachelor's degree in Computer Science. After working in cyber security,
		automated testing, and web development, my interest in consulting has evolved into a passion as I work for Appirio.<br><br>

		My consulting role at Appirio is that of a Salesforce developer. Developing for the Lightning Experience has become
		my specialty as I find building complex systems in the framework to be both challenging and extremely satisfying.<br><br>

		While solving complex problems with code will always be entertaining, I do find other ways to relax. I am an avid
		golfer and movie lover who loves trying new beers just as much as working out. Much of my free time is spent with friends,
		but I also enjoy learning about new technologies and diversifying my development skills.
		<br><br>
		<span style="font-family: 'Mr Dafoe', cursive; font-size: 35px; display: inline-block; margin-left: 15px">Nick Schumacher</span>
		<br>

		<div style="margin-top: 20px;">
			<a href="https://www.facebook.com/nick.schumacher.357" style="margin-right: 10px">
				<img src="/assets/facebook_icon.svg" style="width: 30px">
			</a>
			<a href="https://github.com/nschumacher" style="margin-right: 10px">
				<img src="/assets/github_icon.svg" style="width: 30px">
			</a>
			<a href="https://www.linkedin.com/in/nicholasaschumacher" style="margin-right: 10px">
				<img src="/assets/linkedin_icon.svg" style="width: 30px;">
			</a>
		</div>
	</div>

	<!-- Portrait Div -->
	<div class="small-12 large-4">
		<%= image_tag("/assets/me_2.jpg", :id=>'self-portrait')%>
	</div>

</div>



<!-- Skills & Education ->
<div class="row" style="margin-bottom: 0px;">
	<!- Skill Chart ->
	<div class="small-12 large-4 columns" style="margin-bottom: 10px">
		<div class="skillBox" align="center">
			<%= image_tag("/assets/me_2.jpg", :id=>'self-portrait')%><br>
			<span id="self-portrait-comment"></span>
		</div>
		<div class="skillBox">
			<span style="font-size: 1.2em;">Skills</span><br>
			<table style="width: 100%; margin-left: 20px">
				<tr>
					<td><li><span>Leadership</span></li></td>
					<td><li><span>SCRUM</span></li></td>
				</tr>
				<tr>
					<td><li><span>Oracle</span></li></td>
					<td><li><span>Spring Boot</span></li></td>
				</tr>
				<tr>
					<td><li><span>Relational Databases</span></li></td>
					<td><li><span>Salesforce</span></li></td>

				</tr>
				<tr>
					<td><li><span>Linux</span></li></td>
					<td><li><span>Agile</span></li></td>
				</tr>
				<tr>
					<td><li><span>Web Development</span></li></td>
					<td><li><span>GSuite</span></li></td>
				</tr>
				<tr>
					<td><li><span>Interpersonal Communications</span></li></td>
					<td><li><span>Basic Photoshop</span></li></td>
				</tr>
			</table>
			<span style="font-size: 1.2em;">Languages</span> <span style="font-size: .8em; margin-left: 5px;">(hover for confidence levels)</span><br>
			<div id="chartdiv"></div>
			<div>
			</div>
		</div>
	</div>-->


<!--<div class="row">
		<div class="large-12" style="">
		<%#= render 'timeline' %>

	</div>
</div>-->
