<%= javascript_include_tag "chart_radar" %>
<%= javascript_include_tag "chart_dark_theme" %>
<%= javascript_include_tag "customskillchart" %>
<%= javascript_include_tag "mychart" %>

<!-- Skills & Education -->
<div class="row" style="margin-bottom: 0px;">
	<!-- Skill Chart -->
	<div class="small-12 large-4 columns" style="margin-bottom: 10px">
		<div class="skillBox" align="center">
			<%= image_tag("/assets/me_2.jpg", :id=>'self-portrait')%><br>
			<span id="self-portrait-comment"></span>
		</div>
		<div class="skillBox">
			<span style="font-size: 1.2em;">Skills</span><br>
			<table style="width: 100%; margin-left: 20px">
				<tr>
					<td><li><span>Leadership</span></li></td>
					<td><li><span>SCRUM</span></li></td>
				</tr>
				<tr>
					<td><li><span>Oracle</span></li></td>
					<td><li><span>Spring Boot</span></li></td>
				</tr>
				<tr>
					<td><li><span>Relational Databases</span></li></td>
					<td><li><span>Salesforce</span></li></td>

				</tr>
				<tr>
					<td><li><span>Linux</span></li></td>
					<td><li><span>Agile</span></li></td>
				</tr>
				<tr>
					<td><li><span>Web Development</span></li></td>
					<td><li><span>GSuite</span></li></td>
				</tr>
				<tr>
					<td><li><span>Interpersonal Communications</span></li></td>
					<td><li><span>Basic Photoshop</span></li></td>
				</tr>
			</table>
			<span style="font-size: 1.2em;">Languages</span> <span style="font-size: .8em; margin-left: 5px;">(hover for confidence levels)</span><br>
			<div id="chartdiv"></div>
			<div>
			</div>
		</div>
	</div>

	<!-- Additional Skills & Education -->
	<div class="small-12 large-8" style="height: 1800px">

		<!-- Hobbies/Interests/Fun Facts -->
		<div id="hobbies_box">
			<h4 align="center">Some hobbies, intersts, and fun facts</h4>
			<ol>
				<li>I am a very picky eater, but I love food and am always hungry.</li>
				<li>I have been playing golf since I was 5 years old.</li>
				<li>I am quite fond of beer and trying new ones! I fancy myself a beer connoisseur in training.</li>
				<li>I am fluent in English, sarcasm, and movie quotes. I also have an elementary proficiency in Spanish that I use to yell back at Dora.</li>
				<li>I like staying up late swapping manly stories, and, in the morning, making waffles.</li>
				<li>I like web development and design, but I also understand my design skills are lacking. Constructive criticism and pro tips are always welcome!</li>
				<li>I love to play pool. Any bar that has a pool table is immediately cooler in my mind.</li>
				<li>I am an ambidextrous shooter and fencer, but am a slightly better shot and fencer with the my left hand despite being right handed.</li>
				<li>I have an interest in IoT and plans to develop smart systems and environments, but my current experience is limited to
				    tinkering with Tasker, IFTTT, Alexa, and some smart lights.</li>
				<li>I needed this list to end with a nicely rounded number.</li>
			</ol>
		</div>

		<%= render 'timeline' %>

	</div>
</div>
