<!-- amCharts javascript sources -->
<script type="text/javascript" src="http://cdn.amcharts.com/lib/3/radar.js"></script>
<script type="text/javascript" src="http://www.amcharts.com/lib/3/themes/dark.js"></script>
<%= stylesheet_link_tag "about", media: "all" %>
<%= javascript_include_tag "mychart", "data-turbolinks-track" => true %>
<%= javascript_include_tag "customskillchart", "data-turbolinks-track" => true %>


<style>
  @media(max-width:767px) {
    #test {
      max-height: 200px;
    }
  }
  @media only screen and (min-width:768px) and (max-width: 900px) {
    #test {
      max-height: 300px;
    }
  }
  @media only screen and (min-width:901px)  and (max-width: 1100px) {
    #test {
      max-height: 310px;
    }
  }
  @media(min-width:1101px) {
    #test {
      max-height: 400px;
    }
  }
</style>

<div id="tilt-out">
<div id="tilt-in" style="borde: 2px inset rgba(200,200,200,.2); padding: 40px 40px 40px 40px; overflow-y:">
	<!-- Navigation pane -->
	<div align="" style="">
		<%= render 'layouts/navigation' %>
	</div>

	<hr style="border-color: rgba(240,240,240,.4); box-shadow: 4px 2px 10px rgba(0,0,0,.6); margin-top: 0px">

	<!-- Intro Title -->
	<div class="intro row">
		<div class="col-xs-12 col-md-4">
			<div id="pageLabel">
				<h1 align="center" style="margin-bottom: 10px;">About Me</h1>
			</div>
		</div>
		<div class="col-xs-12 col-md-8">
			<div id="pageSummary">
				Below is a summary of my work experience and other background information. Feel free to contact me with any questions or comments!
			</div>
		</div>
	</div>

<div id="test" style="overflow-y: auto; overflow-x: hidden; margin-bottom: 10px; padding-bottom: 0px">

	<!-- Skills & Education -->
	<div class="row" style="margin-bottom: 15px; overflow: ">
		<!-- Skill Chart -->
		<div class="col-xs-12 col-lg-4" style="margin-bottom: 10px">
			<div id="skillBox">
				<span style="font-size: 24px; text-shadow: 1px 1px 1px #00ACE6">Skills</span><br>
				<table style="width: 100%; margin-left: 20px">
					<tr>
						<td><li>Leadership</li></td>
						<td><li>Office</li></td>
					</tr>
					<tr>
						<td><li>Basic Photoshop</li></td>
						<td><li>Teamwork</li></td>
					</tr>
					<tr>
						<td><li>Relational Databases</li></td>
						<td><li>Interpersonal Communications</li></td>
					</tr>
					<tr>
						<td><li>Linux</li></td>
						<td><li>Web Development</li></td>
					</tr>
				</table><br>
				<span style="font-size: 24px; text-shadow: 1px 1px 1px #00ACE6">Languages</span> <span style="margin-left: 5px;">(hover for confidence levels)</span><br>
				<div id="chartdiv"></div>
				<div>
				</div>
			</div>
		</div>
		
		<!-- Additional Skills & Education -->
		<div class="col-xs-12 col-lg-8 bodi">
			<div class="panel-group skillAccordion" id="accordion" role="tablist" aria-multiselectable="true">
			  	<div class="panel">
			    	<div class="panel-heading" role="tab" id="headingTwo">
			      		<a class="collapsed Title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			      			<h4 class="panel-title">
					          Education <br>
					          <span class="panel-subTitle"><i>"Education is the most powerful weapon you can use to change the world."</i> -- Nelson Mandela</span>
				     		</h4>
				      	</a>
				    </div>
			    	<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      		<div class="panel-body">
			      			<div class="media">
							  <div class="media-left">
							    <a href="#">
							      <img class="media-object pic" src="/images/purdue.png" alt="Purdue">
							    </a>
							  </div>
							  <div class="media-body">
							    <h4 class="media-heading">Purdue University</h4>
							    I am a full time student at Purdue University studying Computer Science with a focus in Software Engineering. In my free time, I will try to teach myself something new related to Computer Science. My interests inlcude, but are not limited to: web development, Android application development, computer security, and scripting. I enjoy attending Hack-a-thons and challenging myself to develop something new in a weekend.
							  </div>
							</div>
							<div class="media">
							  <div class="media-left">
							    <a href="#">
							      <img class="media-object pic" src="/images/udemy.png" alt="Udemy">
							    </a>
							  </div>
							  <div class="media-body">
							    <h4 class="media-heading">Online Classes</h4>
							   	I have taken several online courses through Udemy.com which have enhanced by knowledge and abilities with web development, Git version control, Android development, and others. I have also used CodeAcademy.com to further my comfort with Javascript.
							  </div>
							</div>
			      		</div>
			    	</div>
			  	</div>
			  	<div class="panel">
		    	<div class="panel-heading" role="tab" id="headingThree">
			      	<a class="collapsed Title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			      		<h4 class="panel-title">
			          		NCAA Information Services  -  Techpoint Xtern Program <br>
			          		<span class="panel-subTitle"><i>Full-Stack Developer | Software Tester</i></span>
			          		<span class="panel-subTitle" style="padding-left: 30px"><i>June 2016 - August 2016</i></span>
			      		</h4>
			      	</a>
		    	</div>
			    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      	<div class="panel-body">
			      		<div class="media">
						  <div class="media-left">
						    <a href="http://www.ncaa.org/">
						      <img class="media-object pic" src="/images/ncaa.png" alt="NCAA">
						    </a>
						  </div>
						  <div class="media-body">
						    I will be working for the NCAA's Information Services department this summer as a full-stack developer as part of the Xtern Program through TechPoint. I will also be learning Selenium and writing test scripts for some of the 80+ applications the IS department supports.
						  </div>
						</div>
			      	</div>
			    </div>
		  	</div>
		  	<div class="panel">
		    	<div class="panel-heading" role="tab" id="headingFour">
		      		<a class="collapsed Title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
		      			<h4 class="panel-title">
				          RSA, The Security Division of EMC  -  Purdue Pathmaker Program<br>
				          <span class="panel-subTitle"><i>Shift Manager | Senior Analyst</i></span>
				          <span class="panel-subTitle" style="padding-left: 30px"><i>July 2014 - Present</i></span>
			      		</h4>
			      	</a>
			    </div>
		    	<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
		      		<div class="panel-body">
		      			<div class="media">
						  <div class="media-left">
						    <a href="#">
						      <img class="media-object pic" src="/images/rsa.png" alt="RSA">
						    </a>
						  </div>
						  <div class="media-body">
						   	<ul>
								<li>Responsible for detecting and analyzing cyber-crimes (Phishing, Malware, Brand Abuse, etc.)</li>
								<li>Taking prevention steps, terminating online frauds and performing computer forensic analysis.</li>
								<li>Comprehensive knowledge of website structures and related authorities (ISP’s, Registrar, Webhosting, etc.)</li>
								<li>Communicating with customers to update on attack status</li>
							</ul>
						  </div>
						</div>
		      		</div>
		    	</div>
		  	</div>
		  	<div class="panel">
		    	<div class="panel-heading" role="tab" id="headingFive">
		      		<a class="collapsed Title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
		      			<h4 class="panel-title">
				          Android Developer<br>
				          <span class="panel-subTitle"><i>Arctis</i></span>
				          <span class="panel-subTitle" style="padding-left: 30px"><i>May 2013 - Present</i></span>
				    	</h4>
				    </a>
			    </div>
		    	<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
		      		<div class="panel-body">
		      			<div class="media">
						  <div class="media-left">
						    <a href="http://play.google.com">
						      <img class="media-object pic" src="/images/android.png" alt="Android">
						    </a>
						  </div>
						  <div class="media-body">
						    In my free time, I am slowly teaching myself how to develop Android applications. See <a class="mylink" href="/pages/projects">Projects</a> for examples.
						  </div>
						</div>
		      		</div>
		    	</div>
		  	</div>
		  	<div class="panel">
		    	<div class="panel-heading" role="tab" id="headingSix">
		      		<a class="collapsed Title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
		      			<h4 class="panel-title">
				          Meijer<br>
				          <span class="panel-subTitle"><i>General Merchandise Clerk</i></span>
				          <span class="panel-subTitle" style="padding-left: 30px"><i>May 2014 - August 2014</i></span>
				        </h4>
				    </a>
			    </div>
		    	<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
		      		<div class="panel-body">
		      			<div class="media">
						  <div class="media-left">
						    <a href="#">
						      <img class="media-object pic" src="/images/meijer.png" alt="Meijer">
						    </a>
						  </div>
						  <div class="media-body">
						   	I was responsible for helping customers locate items, stocking shelves, organizing product and keeping shelves clean, organizing and maintaining the backroom, as well as odd tasks around the store.
						  </div>
						</div>
		      		</div>
		    	</div>
		  	</div>
		  	<div class="panel">
		    	<div class="panel-heading" role="tab" id="headingSeven">
		      		<a class="collapsed Title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
		      			<h4 class="panel-title">
				          Birk BoilerMaker Golf Complex & Coyoted Crossing Golf Course<br>
				          <span class="panel-subTitle"><i>Cart Staff</i></span>
				          <span class="panel-subTitle" style="padding-left: 30px"><i>April 2011 - August 2013</i></span>
				    	</h4>    
				    </a>
			    </div>
		    	<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
		      		<div class="panel-body">
		      			<div class="media">
						  <div class="media-left">
						    <a href="#">
						      <img class="media-object pic" src="/images/purdueGolf.png" alt="Golf">
						    </a>
						  </div>
						  <div class="media-body">
						   	The role of cart staff is relatively standard accross the golf courses in West Lafayette. My responsibilities included: cleaning, prepping, and staging golf carts, picking the range clean of golf balls, greeting customers, helping with bag drops during outings, and anything else to help the course run more smoothly.
						  </div>
						</div>
		      		</div>
		    	</div>
		  	</div>
			</div> <!-- end skills & edu accordion -->
		</div>
	</div>
</div>	
	<!-- Footer -->
	<div class="foot" align="right">
		<%= render 'layouts/myFooter' %>
	</div>
</div>
</div>