<!-- Navigation pane -->
<%= render 'layouts/navigation2' %>
<%= javascript_include_tag "chart_radar" %>
<%= javascript_include_tag "chart_dark_theme" %>
<%= javascript_include_tag "customskillchart" %>
<%= javascript_include_tag "mychart" %>

<div class="sections">
	<!-- Intro Section -->
	<section style="padding-top: 50px; padding-bottom: 100px;">
		<div class="row align-middle">
			<div class="small-9 columns">
				<h1 style="text-align: center">Hi!</h1>
				<h6 style="text-align: center">
					I am a Computer Science major at Purdue University. My main focus is software engineering but I also have great interest in security. I like to keep myself busy with
					 projects such as: building software to be used in RSA Security's Anti-Fraud Command Center, learning Android development, constructing my own NFC ring for controlling my phone, and working on other Rails applications. <br><br>
					 Whether it's building an Android application, a website, or something entirely new, I am always up for a new challenge! <br><br>

					Check out my current projects and send me an email if you have questions<br>
					or any new challenges for me!
				</h6>
			</div>
			<div class="columns" align="center">
				<img id="interests_pic" src="/images/interests.png" alt="Interests">
			</div>
		</div>
	</section>

	<!-- Contact Divider -->
	<div id="connections">
		<div class="row">
			<div class="small-3 small-offset-1 large-offset-2 columns">
				<img class="" src="/assets/email.png" alt="email" style="width: 25px; margin-right:3px;">
				nick.schumacher07@gmail.com
			</div>
			<div class="small-4 large-3  small-offset-2 large-offset-2 columns" align="center">
				<div align="center" style="display: inline">
					<a href="https://www.facebook.com/nick.schumacher.357" style="margin-right: 10px">
						<img src="/images/facebook-icon.png" style="width: 30px">
					</a>
					<a href="https://github.com/nschumacher" style="margin-right: 10px">
						<img src="/images/github.png" style="width: 30px">
					</a>
					<a href="https://www.linkedin.com/in/nicholasaschumacher" style="margin-right: 10px">
						<img src="/images/linkedin-icon.png" style="width: 30px">
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Magellen scrollpoint -->
	<div class="scrollpoint" id="first" data-magellan-target="first">&nbsp</div>

	<!-- About Section -->
	<section>
		<h3 style="text-align: center">A Little About Me</h3>
		<%= render 'about' %>
	</section>

	<!-- Projects Divider -->
	<div id="connections">
		<div class="row">
			<div class="small-12" align="center">
				<div align="center" style="display: inline">
					If you have any questions, shoot me an email and I'll respond asap!
				</div>
			</div>
		</div>
	</div>

	<!-- Magellen scrollpoint -->
	<div class="scrollpoint" id="second" data-magellan-target="second">&nbsp</div>

	<!-- Projects Section -->
	<section>
		<h3 style="text-align: center">Projects</h3>
		<%= render 'projects2' %>
	</section>

	<!-- Vault Login Divider -->
	<div id="connections">
		<div class="row">
			<div class="small-8 small-offset-2" align="center">
				<div align="center" style="display: inline">
					<% if user_signed_in? %>
						You are logged in. Feel free to modify the Vault's contents:
						<%= link_to('Logout', destroy_user_session_path, :method => :get, id: 'logout') %>
					<% else %>
						You are not logged in. You must be logged in to modify the Vault's contents:
						<%= link_to('Sign In', new_user_session_path, :method => :get, id: 'sign_in') %>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<!-- Magellen scrollpoint -->
	<div class="scrollpoint" id="third" data-magellan-target="third">&nbsp</div>

	<!-- Vault Section -->
  <section>
		<h3 style="text-align: center">The Vault</h3>
		<div id="collapseBody">
			<%= render '/good_to_knows/index2' %>
		</div>
	</section>

	<!-- Footer -->
	<div id="connections">
		<div align="center" style="color:white; text-align: center">
			© Nick Schumacher, 2017
		</div>
	</div>
</div>
