<div align="center" style="">
  <h3>Send A message to Us</h3>

  <%= simple_form_for @contact, :html => {:class => 'form-horizontal', :style => 'color:red' } do |f| %>
  	<div class="form-group" style="color:blue">
    <%= f.input :name, class:"form-control", style: "margin-left: 10px; padding-left: 10px; background-color: red", :required => true %>
    </div>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      </br>
      <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
    </div>
  <% end %>
</div>