<%= stylesheet_link_tag "contact", media: "all" %>
<div id="tilt-out">
<div id="tilt-in" style="border: 2px solid rgba(200,200,200,.2); padding: 40px 40px 50px 40px;">
  <!-- Navigation pane -->
  <div align="" style="">
    <%= render 'layouts/navigation' %>
  </div>

  <hr style="border-color: rgba(240,240,240,.4)">

  <!-- Intro Title -->
  <div class="intro row">
    <div class="col-xs-12 col-md-3">
      <div id="pageLabel">
        <h1 align="center" style="margin-bottom: 10px;">Contact</h1>
      </div>
    </div>
    <div class="col-xs-12 col-md-9">
      <div id="pageSummary">
        Send me a message and I will get back to you as soon as I can!
      </div>
    </div>
  </div>


  <div class="row" style="margin-right: 0px;">
    <div class="col-sm-12 col-md-4">
      <div style="background: rgba(50, 50, 50, 0.5); margin-bottom: 10px; padding: 10px">
        Personal Email: nick.schumacher07@gmail.com<br>
        Work Email: nicholas.schumacher@emc.com<br>
        nicholas.schumacher@rsa.com<br>
      </div>
    </div>
    <div class="col-sm-12 col-md-8" align="left" style="background: rgba(50, 50, 50, 0.5); padding: 15px">

      <%= simple_form_for @contact, :html => {:class => 'form-horizontal'} do |f| %>
        <div>
          <%= f.input :name , :required => true %>
          
          <%= f.input :email, :required => true %>
          <%= f.input :message, :as => :text, :required => true %>
          
          <div class= "hidden">
            <%= f.input :nickname, :hint => 'Leave this field blank!' %>
          </div>
          <div align="left">
            </br>
            <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>