<%= form_for(@good_to_know) do |f| %>
  <% if @good_to_know.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@good_to_know.errors.count, "error") %> prohibited this good_to_know from being saved:</h2>

      <ul>
      <% @good_to_know.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :tags %><br>
    <%= f.text_field :tags %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
