 <%= stylesheet_link_tag "vaultIndex", media: "all" %>

<div class="row align-middle" style="margin-bottom: 15px;">
  <div class="large-8 columns">
    <%= form_tag search_good_to_knows_path, method: :get, :remote => true, id: "mysearch" do %>
      <%= text_field_tag :search, params[:search], class: "", :placeholder => 'Search the Vault' %>
    <% end %>
  </div>
    <div class="large-4 columns" align="right" id="new_butto">
      <%= link_to "New Entry", new_good_to_know_path, :remote => true, :id =>"new_button_link" %>
  </div>
</div>

<div class="row">
  <div style="height: 1px; margin-bottom: 10px"></div>

  <div class="large-3 columns" id="vaultList">
    <% counter = 0 %>
    <% @good_to_knows.each do |good_to_know| %>
      <div class="entryContainer">
          <div class="entry" align="left" style="padding: 8px">
            <%= link_to good_to_know.title, good_to_know_path(good_to_know.id), :remote => true, :class => 'entryLinks' %>
          </div>
      </div>
      <script>
        var content = "";
        my_content = document.getElementById("my_content_<%= counter %>").getAttribute("data-good_to_know");
        if(my_content != "" && my_content != null) {
          document.getElementById("my_content_<%= counter %>").innerHTML = my_content;
        }
      </script>
      <% counter = counter +1 %>
    <% end %>
  </div>
  <div class="large-9 columns" id="vaultEntry">
    &nbsp
  </div>
</row>
