<%= stylesheet_link_tag "vaultIndex", media: "all" %>
<%#= js_will_paginate @recipes %>

<div class="row align-middle" style="margin-bottom: 15px;">
  <div class="large-8 columns">
    <%= form_tag search_good_to_knows_path, method: :get, :remote => true, id: "mysearch" do %>
      <%= text_field_tag :search, params[:search], class: "", :placeholder => 'Search the Vault' %>
    <% end %>
  </div>
    <div class="large-4 columns" align="right" id="new_butto">
      <%= link_to "New Entry", new_good_to_know_path, :remote => true, :id =>"new_button_link" %>
  </div>
</div>

<div class="row">
  <div style="height: 1px; margin-bottom: 10px"></div>

  <div class="large-6 columns" id="vaultList">
    <% counter = 0 %>
    <div class="row">
    <% @good_to_knows.each do |good_to_know| %>

          <div class="entry large-3 columns" align="center" style="padding: 8px">
            <%= link_to good_to_know_path(good_to_know.id), :remote => true, :class=>'entry_content' do %>
              <%= image_tag "/assets/file_folder.png", :class=>'entry_icon' %>
              <div class="entry_title" align="center"><%=good_to_know.title%></div>
            <% end %>
            <%#= image_tag("/assets/blank_folder.png", :style=>'height: 50px;')%>
            <!-- <%= link_to good_to_know.title, good_to_know_path(good_to_know.id), :remote => true, :class => 'entryLinks' %> -->
          </div>


      <script>
        var content = "";
        my_content = document.getElementById("my_content_<%= counter %>").getAttribute("data-good_to_know");
        if(my_content != "" && my_content != null) {
          document.getElementById("my_content_<%= counter %>").innerHTML = my_content;
        }
      </script>
      <% counter = counter +1 %>

    <% end %>
    </div>
    <%#= will_paginate @good_to_knows %>
    <div style="float:right">
      <%= js_will_paginate @good_to_knows %>
    </div>
  </div>

  <div class="large-6 columns" id="vaultEntry">
    &nbsp
  </div>

  <% counter = 0 %>

</row>
