<%= stylesheet_link_tag "vaultIndex", media: "all" %>
 <!-- Intro Title -->
<div class="intro row">
  <div class="col-xs-12 col-md-3">
    <div id="pageLabel">
      <h1 align="center">Vault</h1>
    </div>
  </div>
  <div class="col-xs-12 col-md-9">
    <div id="pageSummary">
      The Vault, is a knowledgebase of good-to-knows and how to's that I have compiled as I have gained experience
      through my Computer Science undergraduate education, while at work, and while developing my side projects.
    </div>
  </div>
</div>


<div id="searchbox">
  <%= form_tag search_good_to_knows_path, method: :get, :remote => true, id: "mysearch" do %>
    <%= text_field_tag :search, params[:search], class: "", :placeholder => 'Search the Vault' %>
  <% end %>
  <div align="right" id="new_button">
    <%= link_to "New Entry", new_good_to_know_path, :remote => true, :id =>"new_button_link" %>
  </div>
</div>


<div style="height: 1px; margin-bottom: 10px"></div>

<div class="col-xs-4 col-sm-4 col-md-3" id="vaultList">
  <% counter = 0 %>
  <% @good_to_knows.each do |good_to_know| %>
    <div class="entryContainer">
        <div class="entry" align="left" style="padding: 8px">
          <%= link_to good_to_know.title, good_to_know_path(good_to_know.id), :remote => true, :class => 'entryLinks' %>
        </div>
    </div>
    <script>
      var content = "";
      my_content = document.getElementById("my_content_<%= counter %>").getAttribute("data-good_to_know");
      if(my_content != "" && my_content != null) {
        document.getElementById("my_content_<%= counter %>").innerHTML = my_content;
      }
    </script>
    <% counter = counter +1 %>
  <% end %>
</div>
<div class="col-xs-8 col-sm-8 col-md-9" id="vaultEntry">
  &nbsp
</div>
