<script>
var content = "";
  $(document).ready(function(){
    my_content = document.getElementById("my_content").getAttribute("data-good_to_know");
    if(my_content != "" && my_content != null) {
      document.getElementById("my_content").innerHTML = my_content;
    }
  });
</script>

	<div class="vaultEntry" align="left" style="padding: 8px">
	  <h4 align="center" style="color: #85B5BE">
	  		<%=@good_to_know.title %>
	  </h4>
	  <div style="borde: 2px solid black; background-color: rgba(50, 50, 50, 0.5); padding: 10px">
	    	<div data-good_to_know="<%= @good_to_know.content %>" id="my_content"></div>
	  </div>
	  <div style="padding:8px">
	      	<div style="color: #85B5BE">Tags:</div>
	      	<div style="padding-left: 5px">
	        	<%= @good_to_know.tags %>
	      	</div>
	  </div>
	  <div align="right">
	  		<%= link_to 'Edit', edit_good_to_know_path(@good_to_know), style:"color:#85B5BE", :class => "thislink" , :remote => true %> |
			<%= link_to 'Delete', @good_to_know, method: :delete, data: { confirm: 'Are you sure?'}, style:"color:#85B5BE", :class => "thislink" %>
	  </div>
  </div>
