<script>
var content = "";
  $(document).ready(function(){
    my_content = document.getElementById("my_content").getAttribute("data-good_to_know");
    if(my_content != "" && my_content != null) {
      document.getElementById("my_content").innerHTML = my_content;
    }
  });
</script>
<div style="height: 50px;">&nbsp</div>

<div class="row align-center large-collapse">
  <div class="columns small-1 quick-nav">
    <% if @previous_entry != nil %>
      <%= link_to '<-<br/>'.html_safe + @previous_entry.title, good_to_know_path(@previous_entry), :class => "thislink hollow button primary" %>
    <% else %>
      <button type="button" class="button hollow primary" disabled> <- </button>
    <% end %>
  </div>
	<div class="vault-entry columns small-10">
	  <h4 align="center">
	  		<%=@good_to_know.title %>
	  </h4>
	  <div class="vault-entry-content">
	    	<div data-good_to_know="<%= @good_to_know.content %>" id="my_content"></div>
	  </div>
	  <div class="vault-entry-tags-container">
    	<h5 class="vault-entry-tags-label">Tags</h5>
    	<div class="vault-entry-tags">
        <% @relatedTags.each do |t| %>
          <div class="vault-entry-tag">
            <%= link_to t, search_good_to_knows_path(:search => t), class: 'hollow button warning' %>
          </div>
        <% end %>
    	</div>
	  </div>
	  <div align="right">
      <% if user_signed_in? %>
        <%= link_to 'Edit', edit_good_to_know_path(@good_to_know), :class => "thislink hollow button primary" %>
        <%= link_to 'Delete', @good_to_know, method: :delete, data: { confirm: 'Are you sure?'}, :class => "thislink hollow button alert" %>
      <% else %>
        <button type="button" class="hollow button primary disabled" disabled>Edit</button>
        <button type="button" class="hollow button alert disabled" disabled>Delete</button>
      <% end %>
	  </div>
  </div>
  <div class="columns small-1 quick-nav" align="right">
    <% if @next_entry != nil %>
      <%= link_to '-><br/>'.html_safe + @next_entry.title, good_to_know_path(@next_entry), :class => "thislink hollow button primary" %>
    <% else %>
      <button type="button" class="button hollow primary" disabled> -> </button>
    <% end %>
  </div>
</div>

<hr>

<h4 align="center" id="related-entries-title">Related Entries</h4>
<% if @related.length > 0 %>
  <div class="row align-center">
    <% counter = 0 %>
    <% @related.each do |r| %>
        <div class="large-12 columns" style="margin-bottom: 35px; padding: 35px; border: 1px solid #A239CA;">
          <%#= link_to good_to_know_path(good_to_know.id), :class=>'entry_content' do %>

              <div style="color: #086F9C">
                <div style="float:right">
                  <img src="/assets/vault_icon_1.png" alt="Vault icon" width="50" />
                </div>
                <h4><%=r.title%></h4>
              </div>
              <div>
                <h6 style="color: #A239CA">Tags: <%=r.tags%></h6>
              </div>
              <div class="card-user-profile-info" data-good_to_know="<%=h truncate(r.content, :length => 500, :omission => '...') %>" id="my_content_<%= counter %>"></div>

            <div class="card-user-profile-actions">
              <%= link_to 'Open', good_to_know_path(r), :class => "thislink card-user-profile-button hollow button secondary" %>
              <% if user_signed_in? %>
                <%= link_to 'Edit', edit_good_to_know_path(r), :class => "thislink card-user-profile-button hollow button primary" %>
              <% else %>
                <button type="button" class="thislink card-user-profile-button hollow button primary disabled" disabled>Edit</button>
              <% end %>

            </div>
          <%# end %>
        </div>

        <script>
          var content = "";
          my_content = document.getElementById("my_content_<%= counter %>").getAttribute("data-good_to_know");
          if(my_content != "" && my_content != null) {
            document.getElementById("my_content_<%= counter %>").innerHTML = my_content;
          }
        </script>
        <% counter = counter +1 %>

      <% end %>
    </div>

<% else %>
  <h6 align="center">No Related Entries</h6>
<% end %>
