<div class="col-xs-12" id="vaultList" style="borde: 2px solid red">
  <% counter = 0 %>
  <% @good_to_knows.each do |good_to_know| %>
    <div class="entryContainer">
      <!-- <a href="/good_to_knows/<%= good_to_know.id %>" style="text-decoration: none"> -->
        <div class="entry" align="left" style="padding: 8px">
          <!-- <h4 align="center" style="color: #00ACE6; text-shadow: 1px 1px 1px #black;"><%=good_to_know.title %></h4> -->
          <%= link_to good_to_know.title, good_to_know_path(good_to_know.id), :remote => true, :class => 'entryLinks' %>

          <!-- <div style="border: 1px solid black; background-color: rgba(50, 50, 50, 0.5); padding: 10px">
            <div data-good_to_know="<%= good_to_know.content %>" id="my_content_<%= counter %>" style="height: 175px; overflow:hidden;">
            </div>
          </div>
          <div style="padding:8px">
            <div style="color: #00ACE6">Tags:</div>
            <div style="padding-left: 5px">
                <%= good_to_know.tags %>
            </div>
          </div> -->
        </div>
      <!-- </a> -->
    </div>
    <script>
      var content = "";

          my_content = document.getElementById("my_content_<%= counter %>").getAttribute("data-good_to_know");
          if(my_content != "" && my_content != null) {
            document.getElementById("my_content_<%= counter %>").innerHTML = my_content;
          }

    </script>
    <% counter = counter +1 %>
  <% end %>
</div>
