<style>
  .entry {
    background-color: #1C1C1C;
    box-shadow: 2px 1px 2px white;
    padding: 5px;
    margin: 10px;
    color: white;
  }
  .entry2 {
    background-color: #1C1C1C;
    box-shadow: 2px 1px 2px white;
    padding: 5px;
    margin: 10px;
  }
  .thislink:hover {
  	text-decoration: none;
  	color: #757575;
  	background-color: transparent;
  }
  .thislink {
  	color: #00ACE6;
  }
</style>
<script>
var content = "";
  $(document).ready(function(){
    my_content = document.getElementById("my_content").getAttribute("data-good_to_know");
    if(my_content != "" && my_content != null) {
      document.getElementById("my_content").innerHTML = my_content;
    }
  });
</script>
<p id="notice"><%= notice %></p>
<div class="container">
	<div class="entry" align="left" style="padding: 8px">
		<div align="right" style="height: 5px">	
			<%= link_to 'Back', good_to_knows_path, :class => "thislink", style:"color: #00ACE6" %> 
		</div>
	  	<h4 align="center" style="color: #00ACE6">
	  		<%=@good_to_know.title %>
	  	</h4>
	  	<div style="border: 2px solid black; background-color: #151515; padding: 8px">
	    	<div data-good_to_know="<%= @good_to_know.content %>" id="my_content">
	    	</div>
	  	</div>
	  	<div style="padding:8px">
	      	<div style="color: #00ACE6">Tags:</div>
	      	<div style="padding-left: 5px">
	        	<%= @good_to_know.tags %>
	      	</div>
	    </div>
	  	<div align="right">
	  		<%= link_to 'Edit', edit_good_to_know_path(@good_to_know), style:"color:#00ACE6", :class => "thislink" %> | 
			<%= link_to 'Delete', @good_to_know, method: :delete, data: { confirm: 'Are you sure?'}, style:"color:#00ACE6", :class => "thislink" %>
	  	</div>
	</div>
</div>
