<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Sir Nicholas</title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/sir_nicholas_blank.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag "application", media: "all" %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    
    <%= javascript_include_tag :modernizr %>

    <script type="text/javascript">$(function(){ $(document).foundation(); });</script>
    <script type="text/javascript" scr="javascripts/jquery.raty.js"></script>
    <script type="text/javascript" scr="javascripts/ratyrate.js.erb"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>


   	<!-- Custom Font -->
    <link href="https://fonts.googleapis.com/css?family=Rajdhani|Maven+Pro|Mr+Dafoe|Megrim|Rubik" rel="stylesheet">
    <!-- Mr Dafoe for Nick signature -->
    <!-- Rubik for body -->
    <!-- Maven Pro for accent font-->
    <!-- Rajdhani for code -->
    <!-- Megrim for @sirnicholas0 -->

    <%= yield :javascript_includes %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    
    <%= render 'layouts/navigation' %>

    <div class="main">
      <!--<div class="content">-->
        <%= yield %>
      <!--</div>-->
    </div>

  </body>
</html>
