<!DOCTYPE html>
<html>
<head>
  <title>Nick Schumacher</title>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  	<!-- Bootstrap partial -->
 	<%= render 'layouts/bootstrapStuff' %>

 	<!-- Custom Font -->
 	<link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
</head>

<!-- background-color:#1C1C1C -->

<body style="background-image:url('/images/wood_background.jpg'); color:#00ACE6; font-family:Play">

	<!-- My Header -->
	<%= render 'layouts/myHeader' %>

	<%= yield %>

	<!-- My Footer -->
	<%= render 'layouts/myFooter' %>

</body>
</html>
