<!DOCTYPE html>
<html>
<head>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" scr="javascripts/jquery.raty.js"></script>
  <script type="text/javascript" scr="javascripts/ratyrate.js.erb"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
  <script src="//cdn.ckeditor.com/4.5.6/standard/ckeditor.js"></script>

	<link rel="shortcut icon" type="image/x-icon" href="/images/arctis-logo.png">
  	<title>Nick Schumacher</title>
  
  	<!-- Bootstrap partial -->
 	<%= render 'layouts/bootstrapStuff' %>

 	<!-- Custom Font -->
 	<link href='https://fonts.googleapis.com/css?family=Play' rel='stylesheet' type='text/css'>
    <%= yield :javascript_includes %>


  <style>
    /* Scrollbar styling */
    ::-webkit-scrollbar {
      width: 4px;  /* for vertical scrollbars */
      height: 4px; /* for horizontal scrollbars */
    }
    ::-webkit-scrollbar-track {
      /*background: rgba(158, 158, 158, 0.15);*/
      background: rgba(0, 172, 230, 0.15);
    }
    ::-webkit-scrollbar-thumb {
      /*background: rgba(158, 158, 158, 0.4);*/
      background: rgba(0, 172, 230, 0.4);
    }
    /* End Scrollbar styling */

    .tilt-out {
      position: relative;
      -webkit-perspective: 1200px;
      perspective: 1200px;
      /*width: 1100px;*/
      height: 850px;
      /*border: 1px solid #6F7500; */
      /*overflow: auto; */
      /*background: rgba(158, 158, 158, 0.2);*/
    }
    .tilt-in {
      position: absolute;
      top:10px;
      right: 20px;
      margin-top: 30px;
      margin-right: 50px;
      padding: 20px;
      -webkit-transform: rotateY(-12deg);
      transition: rotateY(-12deg);
      max-height: 760px;
      width: 95%;
      overflow: hidden;
      /*background: rgba(80, 80, 80, 0.6);*/
      /*box-shadow: 8px 8px 50px black;*/
    }
    .content:before {
      content: "";
      position: fixed;
      left: 0;
      right: 0;
      z-index: -1;
      
      display: block;
      background-image: url('/images/office.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      
      -webkit-filter: blur(6px);
      -moz-filter: blur(6px);
      -o-filter: blur(6px);
      -ms-filter: blur(6px);
      filter: blur(6px);
    }

    .content {
      position: fixed;
      left: 0;
      right: 0;
      z-index: 0;
      color:white; 
      font-family:Play;
    }
  </style>
 
</head>
<%= yield :javascript_includes %>

<!-- background-color:#1C1C1C 
	color:#00ACE6  blue 
  background-image:url('/images/wood_background.jpg')
  style="background-image:url('http://img.archiexpo.com/images_ae/photo-g/52868-2174243.jpg'); background-size: cover; color:white; font-family:Play"
-->

<body> 
  <div class="content">
    <div class="container-fluid" style="margin-right: 1%; margin-left: 1%; width: 98%">
      <div class="row">
      
        <!-- My picture -->
    	  <div class="col-xs-2" style="border: 0px solid #007375; margin-top: 50px">
          <img src="/images/mypictureplaceholder.png" style="width: 300px">
        </div>
        
        <!-- My angled body content -->
        <div class="col-xs-10 tilt-out" >
          <div class="tilt-in">
              <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
